# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore all Excel files
*.xlsx

# Ignore env file
.env

# Ignore all CSV files from database
*.csv

# Ignore all uploaded files in ./uploads
uploads/*